<ul class="menu" [ngClass]="[menuClass]">
  <li class="option menu-header"><i class="fa menu-btn" [ngClass]="[menuBtnClass]" (click)="toggleMenu()"></i></li>
  <li class="option"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-cube link-icon"></i> Shipments</a></li>
  <li class="option"><a routerLink="/quotes" routerLinkActive="active"><i class="fa fa-dollar link-icon"></i> Quotes</a></li>
  <li class="option"><a routerLink="/customers" routerLinkActive="active"><i class="fa fa-user link-icon"></i> Customers</a></li>
  <li class="option last-option"><a routerLink="/settings" routerLinkActive="active"><i class="fa fa-cog link-icon"></i> Settings</a></li>
</ul>

<div [ngClass]="[containerClass]" class="main-container">
  <router-outlet></router-outlet>
</div>
